.channel-navigation {
    background-color: #341b69;
    height: 100%; 
    width: 100px; 

    z-index: 1;

    overflow-x: hidden; 

    display: flex;
    align-items: center;
    flex-direction: column;
}

.channel-navigation .logo-button{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.2s;
    margin: 10px 0;
}

.channel-navigation .logo-button:hover{
    border-radius: 28%;
}

@media (max-width: 480px) {
    .channel-navigation {
        display: none;
    }
}

