.channel-navigation {
    background-color: #26144b;
    height: 100%; 
    width: 100px; 

    z-index: 1;

    overflow-x: hidden; 

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-button{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.2s;
    margin: 10px 0;
}

.logo-button:first-child{
    animation: rotating 10s linear infinite;
}

.logo-button:hover{
    cursor: pointer;
}

.logo-button:first-child:hover{
    opacity: 0.6;
}

.logo-button:not(:first-child):hover{
    border-radius: 28%;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 480px) {
    .channel-navigation {
        display: none;
    }
}

