.message-container{
    background-color: #412380;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;

    display: flex;
}

.pfp {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.info {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 3px;

    height: 40px;
}

.sender {
    font-weight: bold;
    margin-right: 3px;
}

.date {
    font-size: 11px;
}

.time {
    font-size: 11px;
}

.message {
    margin: 0;
    padding: 0;
}

.message > p {
    margin: 0;
    padding: 0;
}