.wrapper {
    background-image: linear-gradient(45deg, #27144f, 10%, #605084);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    background-color: #836db2;

    border-radius: 5%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 80%;
    margin: 10px;
}

button {
    display: block;
    min-height: 40px;
    width: 30%;

    border-radius: 20px;
    border: none;
  
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
  
    text-align: center;
    font-size: large;

    transition: 0.5s;
}

button:hover{
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    width: 32%;
    background-color: #fe6f8e;
    color: aliceblue;
}

::placeholder{
    color: rgba(0, 0, 0, 0.699);
}

input {
    display: block;
    height: 50px;  
    width: 70%;
    background-color: #fe6f8e;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fe6f8e inset !important;
}

label {
    display: flex;
    align-items: center;

    border-radius: 10px;
    height: 30px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    background-color: #f84f4f;
    box-shadow: 0 0 3px black;

    font-weight: bold;
}