.channel-info {
    background-color: #7c4652;
    height: 100%;
    width: 230px;

    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.channel-info .server-banner {
    width: 220px;
    border-radius: 5%;
}

.channel-info h2 {
    width: 95%;
    padding-bottom: 20px;

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;

    border-bottom: 2px solid rgb(42, 61, 82);
}

.channel-info .delete-button {
    width: 200px;
    height: 50px;

    margin-top: auto;
    margin-bottom: 30px;

    font-size: 2rem;

    background-color: rgba(254, 60, 60, 0.791);
    color: rgb(205, 214, 222);

    border-radius: 10px;
}

.channel-info .delete-button:hover{
    background-color: rgba(254, 60, 60, 0.988);
    color: black;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.4);
}

@media (min-width: 1000px) {
    .channel-info {
        background-color: #7c4652;
        height: 100%;
        width: 300px;
    
        text-align: center;
    }

    .channel-info .server-banner {
        width: 260px;
        border-radius: 5%;
        margin-top: 20px;
    }

    .channel-info h2 {
        width: 95%;
        padding-bottom: 40px;
        font-size: 2em;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    
        border-bottom: 2px solid rgb(42, 61, 82);
    }
}