.chat-container{
    width: 61.3%;
    height: 100%;
    background-color: #935d699B;
}

.chat{
    display: block;
    margin: 0 auto;
    margin-top: 10px;

    width: 95%;
    height: 89%;

    overflow-y: scroll;
}

.input-area {
    position: fixed;
    bottom: 30px;
    left: 23%;
    margin: 0 auto;

    width: 58%;

}

.input-area input {
    display: block;
    margin: 0 auto;

    border-style: solid;
    outline: none;

    width: 80%;
    height: 30px;
    padding-left: 10px;

    background-color: #FC766A9A;
}

@media (max-width: 480px) {
    .chat-container{
        width: 95%;
        margin: 0 auto;
    }
}