.wrapper {
  background-image: linear-gradient(45deg,#E56B6F, #EAAC8B);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  
    background-color: #b56576;
  
    width: 40%;
    height: 75%;
  
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-container img {
    width: 80%;
    margin: 10px;
  }
  
  .login-container input {
    display: block;
    min-height: 50px;  
    width: 70%;

    margin-top: 50px;
  
    border-radius: 20px;
    border: none;
  
    box-shadow: 0px 0px 5px rgb(88, 20, 20);
    background-color: antiquewhite;
  
    text-align: center;
    font-size: large;
  
  }

  .login-container label {
    display: flex;
    align-items: center;

    border-radius: 10px;
    height: 30px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    background-color: #f84f4f;
    box-shadow: 0 0 3px black;

    font-weight: bold;
  }
  
  .login-container button {
    display: block;
    min-height: 40px;
    width: 30%;
    margin: 10px auto;
  
    border-radius: 20px;
    border: none;
  
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
  
    text-align: center;
    font-size: large;

    transition: 0.5s;
  }

  .login-container button:hover {
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    width: 32%;
    background-color: rgb(203, 157, 157);
    color: aliceblue;
  }

  .login-container .toRegister {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 0;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    background-color: #EAAC8BBA;
    height: 30px;
  }

  .toRegister > h3 {
    width: 250px;
  }
