.message-container{
    background-color: #412380;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;

    display: flex;
}

.pfp {
    width: 50px;
    border-radius: 50%;
}

.sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message {
    margin: 0;
}